.editor {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    background: rgb(255, 255, 255);
}

.editor-delete {
    padding: 20px;
}

.editor-header {
    padding: 20px;
}

.delete {
    float: right;
}

.editor-input {
    height: calc(100vh - 150px);
    border-top: 1px dashed rgb(200, 200, 200);
    padding: 20px 20px 0 20px;
}